body {
  margin-top: 20px;
}

h1 {
  text-align: center;
}

.sub-heading {
 text-align: center;
}

.list-container {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
}

.list-item {
  margin-left: auto;
  margin-right: auto;
}

li {
  list-style-type: none;
}

.card-body > li {
  display: flex;
  justify-content: space-between;
}

.card-body .name{
  margin-right: 20px;
}






